<div class="login-container container">
  <form class="form-horizontal">
    <div class="control-group control-group-email">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="example@domain.com">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="********">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <br>
        <button [routerLink]="['/screens']" type="submit" class="btn btn-info">Log in now!</button>
      </div>
    </div>
  </form>

</div>
