app-screens-list {
  display: flex;
}

.page-title {

  margin: 30px;
}

.screen-container {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}
