<div class="row">
  <div class="col-2">
    <app-side-menu></app-side-menu>
  </div>
  <div class="col-10">
    <div class="row">
      <h2 class="page-title">Screens</h2>
    </div>
    <div class="row btn-container">
      <button type="button" [routerLink]="['/addscreen']" class="btn btn-dark">
        Add screen
      </button>
    </div>
    <br>
    <div class="row screen-container">
      <app-screens-list [screens]="screens"></app-screens-list>
    </div>
    <br>
    <div class="row screen-container">
      <app-map></app-map>
    </div>
  </div>
</div>
